---
---

@import "{{ site.theme }}";
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.menu li a {
  display: block;
  float:left;
  font-size:14;
  text-align: center;
}

.menu li a:hover{
  background-color: #555;
  color: white;
}
